@import url("//fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

html {
  font-family: "Poppins", sans-serif !important;
}

mux-player {
  aspect-ratio: 16 / 9;
  --media-object-fit: cover;
  --media-object-position: center;
}
